

<div class="row d-flex flex-row video-page">
  <div class="video-main col-lg col-md-12">
    <div class="video-container"  (click)="hideNext()">
      <video #target id="target" class="video-js"></video>
      <div class="next-video show-{{showNext}}" *ngIf="reloadNext">
        <p class="next-title">Watch Next</p>

        <a [routerLink]="['/watch']" [queryParams]="{v:video.videoId}" *ngIf="video">
          <div class="card shadow-none" >
            <img class="next-thumbnail" [src]="getThumbnail(video.videoThumbnailPath)" (error)="changeSource($event)">
            <div class="bottom-right-default">{{video.videoDuration * 1000 | date:'mm:ss'}}</div>
            <div  class="bottom-right-hover">Click to Play</div>
            <div class="card-body">
              <p class="next-vid-title" >{{video.videoTitle}}</p>
              <p class="next-vid-subtitle channel-hover" [routerLink]="['/c', video.channelName]">{{video.channelName}}</p>
              <p class="next-vid-subtitle ">{{displayViews(video.videoTotalViews)}} • {{formatTime(video.videoCreatedAt)}}</p>
            </div>
          </div>
        </a>
        
  
      </div>
      <div class="cover-top"></div>
    </div>
    
    <p class="video-title" *ngIf="currentVideo">{{ currentVideo.data!.videoTitle }}</p>

    <div class="video-options" *ngIf="currentVideo">
      <div class="left">
        <p class="video-subtitle"> {{ displayTotalViews(currentVideo.data!.videoTotalViews) }} &nbsp;•&nbsp; Published on {{ date }} </p>
        <p class="video-subtitle-sm"> {{ displayTotalViews(currentVideo.data!.videoTotalViews) }} &nbsp;•&nbsp; {{ date }} </p>
      </div>
      
      <div class="right">
        <span [cdkCopyToClipboard]="pagelink"> <mat-icon class="icon">link</mat-icon> Share </span>
        <span data-bs-toggle="modal" data-bs-target="#playlistModal"> <mat-icon class="icon">playlist_add</mat-icon>Save</span>
        
        <mat-icon class="icon-sm" [cdkCopyToClipboard]="pagelink">link</mat-icon>
        <mat-icon class="icon-sm" data-bs-toggle="modal" data-bs-target="#playlistModal">playlist_add</mat-icon>
      </div>
    </div>
    
    <hr>
    <div class="channel-container" *ngIf="currentVideo">
      <app-channel-header  [user]="currentVideo.data" type="video-page"></app-channel-header>
      <p class="text-description truncated-{{truncated}}" id="description">{{currentVideo.data.videoDescription}}</p>
      <p class="description-option" (click)="changeTruncated()" *ngIf="truncated && longText">Show more...</p>
      <p class="description-option" (click)="changeTruncated()" *ngIf="!truncated && longText">Show less...</p>
    </div>
    <hr>

    <div class="video-recoms bigScreen-{{!bigScreen}}">
    
      <!-- THE PLAYLIST SIDEPANEL SHOULD DISPLAY IF THERE IS A 'list' QUERY PARAMETER IN THE URL.
           OTHER WISE, DON'T DISPLAY. WILL IMPLEMENTED AFTER ROUTING IS DONE. -->
      <app-playlist-sidepanel
        class="col-xl-3 col-lg-4 col-md-12"
        *ngIf="playlistId"
        [playlistId]="playlistId"
        [currentVideoId]="videoId"
      ></app-playlist-sidepanel>
  
      <p class="video-recoms-title">More Videos</p>
      <div *ngIf="videos" style="margin-bottom: 20px;">
        <app-videos-list [videos]="videos.data" type="mini" (click)="hideNext()"></app-videos-list>
      </div>
      
    </div>

    <app-video-comments></app-video-comments>


  </div>

  <div class="video-recoms col-lg-auto col-md-12 bigScreen-{{bigScreen}}">
    
    <!-- THE PLAYLIST SIDEPANEL SHOULD DISPLAY IF THERE IS A 'list' QUERY PARAMETER IN THE URL.
         OTHER WISE, DON'T DISPLAY. WILL IMPLEMENTED AFTER ROUTING IS DONE. -->
    <app-playlist-sidepanel
      class="col-xl-3 col-lg-4 col-md-12"
      *ngIf="playlistId"
      [playlistId]="playlistId"
      [currentVideoId]="videoId"
    ></app-playlist-sidepanel>

    <p class="video-recoms-title">More Videos</p>
    <div *ngIf="videos" style="margin-bottom: 20px;">
      <app-videos-list [videos]="videos.data" type="mini" (click)="hideNext()"></app-videos-list>
    </div>
    
  </div>
</div>

<app-playlist-modal></app-playlist-modal>
