.offcanvas-body {
    width: 240px;
    padding: 0px;
    padding-right: 14px;
    overflow-y: hidden;
    height: calc(100vh - 80px) !important;
}
.offcanvas-body:hover {
    padding-right: 0px;
    overflow-y: scroll;
}

.menu-item {
    padding: 6px 10px 12px 10px;
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
    vertical-align: middle;
    font-size: 14.6px;
    line-height: 26px;
}

.menu-item:hover {
    background-color: #323232;
    cursor: pointer;
}

.icon {
    display: inline;
    vertical-align: middle;
    margin: 0px 20px;
}

.sidebar-hr {
    color: #BCBCBC;
    margin: 18px 0px;
}

.submenu-title {
    padding: 4px 32px 8px 24px;
    color: #BCBCBC;
    font-family: 'Roboto';
    font-weight: 500;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-size: 15.2px;
}

.overflow-handler {
    display: inline;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow:hidden;
    height: 38px;
}

.profile-icon {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	flex-shrink: 0;
	object-fit: cover;
	cursor: pointer;
    margin: 0px 10px 0px 20px;
}


/******************************** Mini Bar ***********************************/

.offcanvas-body-mn {
	margin:0px !important;
	padding: 0px !important;
    width: 70px;
}

.menu-item-mn {
	width:70px;
	height:80px;
    color: white;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14.6px;
	display: flex;
    align-items: center;
}

.menu-item-mn:hover {
    background-color: #323232;
    cursor: pointer;
}

.subtitle-mn {
	font-family: Roboto;
	font-size: 10px;
	font-weight: 300;
	margin: 0px;
	margin-top: 6px;
}

.item-container-mn {
	margin: auto;
	justify-content: center; 
}

.icon-mn {
	cursor: pointer;
	vertical-align: middle;
	color: white;
	margin: auto;
	justify-content: center; 
	display: flex;
}