<div class="row m-0 change-password">
    <div class="col p-0">
        <div class="row m-0 cp-identity-header">
            <div class="col p-0 cp-identity-items">
                <div class="row p-0 change-password-prompt d-flex justify-content-center">
                    Change your password
                </div>
            </div>
        </div>
        <form class="form input-fields">
            <div class="form-floating old-password-input mx-auto">
                <input 
                    name = "oldPassword"
                    minlength="8"
                    maxlength="120"
                    required
                    type="password" 
                    class="form-control" 
                    id="floatingOldPassword" 
                    placeholder="Password"
                    [formControl]="oldPassword">
                <label for="floatingOldPassword">Current Password</label>
            </div>
            <div class="form-floating new-password-input mx-auto">
                <input 
                    name = "newPassword"
                    minlength="8"
                    maxlength="120"
                    required
                    type="password" 
                    class="form-control" 
                    id="floatingNewPassword" 
                    placeholder="Password"
                    [formControl]="newPassword">
                <label for="floatingNewPassword">New Password</label>
            </div>
            <div class="form-floating confirm-password-input mx-auto">
                <input 
                    name = "confirmPassword"
                    minlength="8"
                    maxlength="120"
                    required
                    type="password" 
                    class="form-control" 
                    id="floatingConfirmPassword" 
                    placeholder="Password"
                    [formControl]="confirmPassword">
                <label for="floatingconfirmPassword">Confirm Password</label>
            </div>
        </form>
        <div class="row p-0 d-flex justify-content-center save-container">
            <div class="col-auto save-button btn btn-primary" (click)="saveNewPassword()">
                <div class="save-text">
                    Save
                </div> 
            </div>
        </div>
    </div>
</div>